/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: MuliRegular;
    src: url(./assets/fonts/Muli-Regular.woff);
}

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/



/* Общие стили */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Header */
.header {
    border: 1px solid red;
    background-image: url(./assets/img/header/header-bg-img.png);
    background-position: center;
    background-size: cover;
}

.header__top {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    justify-self: space-between;
    border: 1px solid red;
    list-style-type: none;
}

.header__logo{
}

.personal__list {
    border: 1px solid red;
    display: flex;
    justify-self: space-between;
    list-style-type: none;
}

.social__list {
    border: 1px solid red;
    display: flex;
    list-style-type: none;
}

.header__content {
    border: 1px solid red;
    display: flex;
    justify-content: center;
}



/* Smoothies */


/* About */



/* Products */


/* Story */


/* Testimonials */


/* Blog */


/* Instagram */


/* Footer */



/* Здесь будут медиа запросы */