/* Здесь подключаем шрифты, используя правило @font-face*/
@font-face {
    font-family: MuliRegular;
    src: url(./assets/fonts/Muli-Regular.woff);
}

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/



/* Общие стили */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Header */
/*.header-top{
    background-image: url(/assets/img/backgrounds/header-bg-img.png);*/

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    float: left;
}

ul.menu li {
    display: inline;
    margin-right: 5px;
    padding: 3px;

}

.header-logo {
    text-align: center;
    margin: 69px 859px 939px 850px;

}


/* Smoothies */


/* About */
ul.structure {
    list-style-image: url(./assets/img/About/icon_for_list.png);
}


/* Products */


/* Story */


/* Testimonials */


/* Blog */


/* Instagram */


/* Footer */



/* Здесь будут медиа запросы */
